@use './variables' as vars;

.sidebar {
  background-color: var(--bg-color);
  width: 60px;
  height: 100vh;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  top: 0px;
  z-index: 11;

  @media (max-width: 768px) {
    display: none !important;
  }

  &_nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media (max-width: 768px) {
      flex-direction: row;
      gap: 1rem;
    }

    button {
      background: none;
      border: none;
      color: #a6a6a6;
      cursor: pointer;
      transition: color 0.2s ease;
      

      &:hover {
        color: vars.$purple;
      }
    }
  }
}
